nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#Fae6b1;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    padding:15px 20px;
    z-index: 999;

}
.nav-right ul{
    display: flex;
   list-style-type: none;
}
.nav-right> ul>li{
    margin:0px 15px;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
  
}
.nav-right> ul>li Link{
    text-decoration: none;
}
.nav-logo{
    width:200px;
    background: transparent;
}
.login-btn{
    padding: 5px 10px;
    cursor: pointer;
}
.greenclr{
width: 12px;
height: 12px;
border-radius: 12px;
background-color: greenyellow;
}
.redcolor{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #f7360b;
}